body {
  position: relative;
  min-height: 100vh;
}

.App {
  main {
    text-align: center;
    .articleImg {
      width: 80%;
      margin: 5em 2em 5em 4em;
    }
    .contacts {
      margin: 5em;
    }
  }

  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}